<div class="footer bg-transparent">

  <a href="http://techsterowniki.pl" target="blank" class="footer__adress">
    <div class="footer__inner">
      <img src="img/logo_tech_vector.svg" alt="" class="footer__logo">
      <div class="footer__text color-light font-13">
        <span>© Copyright by TECH Sterowniki 2017</span>
      </div>
    </div>
  </a>

</div>