
<div class="login-header font-15 bg-transparent color-light">

  <div class="login-header__login-box">
  </div>

  <div class="login-header__login-box cursor-pointer" ng-click="loginScreen()">
    <img class="login-header__icon" src="img/top_menu/user.svg" alt="">
    <div class="login-header__text" ng-bind="setText(1129)"></div>
  </div>

  <div class="login-header__login-box">
  </div>

</div>