<div class="top-menu bg-transparent">
    <div class="top-menu__item color-light cursor-pointer" ng-click="state.go('home')" ng-bind="setText(1782)"></div>
    <div class="top-menu__item color-light cursor-pointer" ng-click="state.go('schedule')" ng-bind="setText(293)"></div>

  <div class="top-menu__element color-light cursor-pointer" ng-click="authentication.logout();" ng-bind="setText(1091)"></div>

</div>